/* src/styles/global.css */
@import './variables.css';

body {
  margin: 0;
  font-family: 'SF Pro Display', Roboto, sans-serif;
  background: var(--pure-white);
  color: var(--pure-black);
}

a {
  color: var(--logo-blue);
  text-decoration: none;
}
a:hover {
  color: var(--pure-black);
}